<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testtoken.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DDB261F1DAD74C80056497E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DDB26331DAD74C90056497E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DDB263E1DAD74C90056497E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
